* {
  --main: #dbede0;
  --second: #518765;
  --action: #8ff0d7;
}

body {
  background-color: var(--main);
}

.title {
  text-align: center;
  color: var(--second);
  font-size: 3em;
}

.control {
  display: flex;
  justify-content: space-evenly;
  max-width: 30em;
  margin: 0 auto;
}

.btn {
  background-color: #8ff0d7;
  border: 0.1em solid black;
  border-radius: 0.4em;
  width: 5em;
  height: 3em;
  font-size: 1.5em;
  font-weight: bold;
}

.btn:hover {
  cursor: pointer;
  background-color: hsl(178, 76%, 75%);
}

.message {
  text-align: center;
  font-size: 2em;
}

h2 {
  text-align: center;
  font-size: 2.5em;
}

.match-info {
  display: flex;
  justify-content: space-evenly;
  max-width: 30em;
  margin: 0 auto;
}

.match-info > div > p {
  font-weight: bold;
  font-size: 1.5em;
}

.match-info > div > span {
  font-size: 2em;
}

.match-info > div {
  text-align: center;
}
